body {
	margin: 0;
	width: 6000px;
	font-size: 0;
	padding: 0;
	background: lightslategrey;
}
header {
	background: grey;
	height: 600px;
	display: inline-block;
}

section {
	height: 1000px;
	width: 1000px;
	display: inline-block;
}

section#home {
	border-left: 3px solid green;
}

#about{
	/*background: #bada55;*/
	border-left: 3px solid red;
}

.bread {
	width: 30%;
}

.bullshit {
	padding: 20px;
}

.fixed {
	position: fixed;
}