body {
	margin: 0;
}
header {
	background: grey;
	height: 600px;
}

section {
	background: lightslategrey;
	height: 700px;
}

section#home {
	border-top: 3px solid green;
}

section#about {
	/*background: #bada55;*/
	border-top: 3px solid red;
}

section#start2 {
	border-top: 3px solid blue;
}

section#unstick-2 {
	/*background: #bada55;*/
	border-top: 3px solid yellow;
}

.bullshit {
	padding: 20px;
}

.fixed {
	position: fixed;
}

footer {
	border-top: 3px solid blue;
	height: 1500px;
}